<main class="main">
  <div class="content">
    <div class="left-side">
      <app-header name="{{ name }}"></app-header>

      <p>Todos os pontos de interesse registrados por {{ name }}</p>

      <button
        id="{{ idButton }}"
        (focus)="printHello()"
        (click)="updateName($event)"
      >
        Atualiza nome
      </button>

      <div>
        <h3>POI:</h3>
        <ul>
          @for (pointOfInterest of pointsOfInterest ; track pointOfInterest.id)
          {
          <li>
            <p>id: {{ pointOfInterest.id }}</p>
            <p>name: {{ pointOfInterest.name }}</p>
            <p>x: {{ pointOfInterest.x }}</p>
            <p>y: {{ pointOfInterest.y }}</p>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</main>

<router-outlet />
