<main class="main">
  <div class="content">
    <div class="left-side">
      <app-header [name]="name"></app-header>

      <app-form [isModalOpen]="isModalOpen"></app-form>

      <p>Todos os pontos de interesse registrados por {{ name }}</p>

      <button
        [id]="idButton"
        (focus)="printHello()"
        (click)="updateName($event)"
      >
        Atualizar nome
      </button>

      <button [id]="idButton" (focus)="printHello()" (click)="showModal()">
        Abrir modal
      </button>

      <button
        [id]="idButton"
        (focus)="printHello()"
        (click)="togglePointsOfInterest()"
      >
        {{
          isUlPOIOpen
            ? "Esconder pontos de interesse"
            : "Mostrar pontos de interesse"
        }}
      </button>

      @if (isUlPOIOpen) {
      <div>
        <h3>POI:</h3>
        <ul>
          @for (pointOfInterest of pointsOfInterest ; track pointOfInterest.id)
          {
          <li>
            <p>id: {{ pointOfInterest.id }}</p>
            <p>name: {{ pointOfInterest.name }}</p>
            <p>x: {{ pointOfInterest.x }}</p>
            <p>y: {{ pointOfInterest.y }}</p>
          </li>
          }
        </ul>
      </div>
      }
    </div>
  </div>
</main>

<router-outlet />
